[submodule "libs/minilibx"]
	path = libs/minilibx
	url = https://github.com/42Paris/minilibx-linux
[submodule "libs/libft"]
	path = libs/libft
	url = https://github.com/vesord/libft
[submodule "libs/get_next_line"]
	path = libs/get_next_line
	url = https://github.com/vesord/get_next_line
